{% extends 'base.html' %}

{% block conteudo %}

<h1>Todos os produtos</h1>

<div class="container">
    <div class="row">
        {% for dado in dados %}
        <div class="col-3 ">
            <div class="card p-2 " style="width: 18rem;">
                <div class="text-center">
                    <img src="{{dado.image}}" class="" alt="..." width="" height="150px">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">{{dado.title}}</h5>
                    <h5 class="card-title">Preço: R$ {{dado.price}}</h5>
                    <p class="card-text">{{dado.description[:50]}}</p>
                    <a href="/paginaCompra/{{dado.id}}" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>   
        {% endfor %}
    </div>
</div>



    

{% endblock %}