<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'estilos.css')}}">
</head>
<body>
    <h1>Essa é a página de contato</h1>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('paginaInicial')}}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{url_for('paginaSobre')}}">
                        Sobre
                    </a>
                </li>
                <li>
                    <a href="{{url_for('paginaContato')}}">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>