<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('paginaInicial')}}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{url_for('paginaSobre')}}">
                        Sobre
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Essa é a página SOBRE</h1>
    <p>
        Essa é a segunda página feita utilizando o Flask para gerenciar as páginas HTML.
    </p>
</body>
</html>