{% extends 'base.html' %}

{% block conteudo %}

{% if cadastrado %}

<div class="container">
    <div style="height: 80vh;" class="row justify-content-center">
        <div class="col-8">
            <h1 class="text-center mt-5">Olá <span class="text-success">{{nome}}</span>, vejo que você já tem um cadastro, tente logar ou trocar a senha se tiver esquecido!!</h1>
        </div>
    </div>
</div>

{% else %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-4 border">
            <h2 class="text-center my-4">Crie sua Conta</h2>
            <h2 class="text-center my-4">Cadastre-se para acessar todas as funcinalidades do SGE.</h2>
            <div class="text-center mb-4">
                <i class="bi bi-person-add" style="font-size: 80px"></i>
            </div>
            <div class="formularioCadastro">
                <form action="{{url_for('cadastro')}}" method="post">
                    <div class="form-group mt-3">
                        <label for="exampleInputName">Nome completo</label>
                        <input name="nome" type="name" class="form-control" id="exampleInputName"
                            aria-describedby="nameHelp" placeholder="" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputName">Nome de usuário</label>
                        <input name="username" type="name" class="form-control" id="exampleInputName"
                            aria-describedby="nameHelp" placeholder="">
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1">Endereço E-mail</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="" >
                    </div>
                    <div class="form-group mt-3">
                        <label for="accountType">Tipo de conta</label>
                        <select name="tipo" class="form-control" id="accountType"
                            aria-describedby="accountTypeHelp">
                            <option value="">Selecione o tipo de conta</option>
                            <option value="administrador">Administrador</option>
                            <option value="cliente">Cliente</option>
                            <option value="usuario">Usuário</option>
                        </select>
                    </div>

                    <div class="form-group mt-3">
                        <label for="exampleInputPassword1">Senha</label>
                        <input name="senha" type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="">
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary w-50">Cadastrar</button>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{{url_for('login')}}">Conecte-se</a>
                    </div>
                    <div class="my-4">
                        <a class="btn btn-danger" href="{{url_for('home')}}">Voltar</a>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}